<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1"><!-- Place ../favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <link rel="icon" href="../favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <title>DashCore - Premium Software & Startup HTML</title><!-- themeforest:css -->
    <link rel="stylesheet" href="../css/fontawesome.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/cookieconsent.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/odometer-theme-minimal.css">
    <link rel="stylesheet" href="../css/prism-okaidia.css">
    <link rel="stylesheet" href="../css/simplebar.css">
    <link rel="stylesheet" href="../css/smart_wizard_all.css">
    <link rel="stylesheet" href="../css/swiper-bundle.css">
    <link rel="stylesheet" href="../css/dashcore.css">
    <link rel="stylesheet" href="../css/rtl.css">
    <link rel="stylesheet" href="../css/demo.css">
    <!-- endinject -->
</head>

<body>
    <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
    <!-- ./Making stripe menu navigation -->
    <nav class="st-nav navbar main-nav navigation fixed-top" id="main-nav">
        <div class="container">
            <ul class="st-nav-menu nav navbar-nav">
                <li class="st-nav-section nav-item"><a href="#main" class="navbar-brand"><img src="../img/logo.png" alt="Dashcore" class="logo logo-sticky d-inline-block d-md-none"> <img src="../img/logo-light.png" alt="Dashcore" class="logo d-none d-md-inline-block"></a></li>
                <li class="st-nav-section st-nav-primary nav-item"><a class="st-root-link nav-link" href="../index.html">Home</a> <a class="st-root-link item-products st-has-dropdown nav-link" data-dropdown="blocks">Blocks</a> <a class="st-root-link item-products st-has-dropdown nav-link" data-dropdown="pages">Pages</a> <a class="st-root-link item-company st-has-dropdown nav-link" data-dropdown="components">UI Components</a> <a class="st-root-link item-blog st-has-dropdown nav-link" data-dropdown="blog">Blog</a> <a class="st-root-link item-shop st-has-dropdown nav-link" href="../shop/" data-dropdown="shop">Shop</a></li>
                <li class="st-nav-section st-nav-secondary nav-item"><a class="btn btn-rounded btn-outline me-3 px-3" href="../login.html" target="_blank"><i class="fas fa-sign-in-alt d-none d-md-inline me-md-0 me-lg-2"></i> <span class="d-md-none d-lg-inline">Login</span> </a><a class="btn btn-rounded btn-solid px-3" href="../signup.html" target="_blank"><i class="fas fa-user-plus d-none d-md-inline me-md-0 me-lg-2"></i> <span class="d-md-none d-lg-inline">Signup</span></a></li><!-- Mobile Navigation -->
                <li class="st-nav-section st-nav-mobile nav-item"><button class="st-root-link navbar-toggler" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                    <div class="st-popup">
                        <div class="st-popup-container"><a class="st-popup-close-button">Close</a>
                            <div class="st-dropdown-content-group">
                                <h4 class="text-uppercase regular">Pages</h4><a class="regular text-primary" href="../about.html"><i class="far fa-building me-2"></i> About </a><a class="regular text-success" href="../contact.html"><i class="far fa-envelope me-2"></i> Contact </a><a class="regular text-warning" href="../pricing.html"><i class="fas fa-hand-holding-usd me-2"></i> Pricing </a><a class="regular text-info" href="../faqs.html"><i class="far fa-question-circle me-2"></i> FAQs</a>
                            </div>
                            <div class="st-dropdown-content-group border-top bw-2">
                                <h4 class="text-uppercase regular">Components</h4>
                                <div class="row">
                                    <div class="col me-4"><a target="_blank" href="../components/alert.html">Alerts</a> <a target="_blank" href="../components/badge.html">Badges</a> <a target="_blank" href="../components/button.html">Buttons</a> <a target="_blank" href="../components/color.html">Colors</a> <a target="_blank" href="../components/accordion.html">Accordion</a> <a target="_blank" href="../components/cookie-law.html">Cookielaw</a></div>
                                    <div class="col me-4"><a target="_blank" href="../components/overlay.html">Overlay</a> <a target="_blank" href="../components/progress.html">Progress</a> <a target="_blank" href="../components/lightbox.html">Lightbox</a> <a target="_blank" href="../components/tab.html">Tabs</a> <a target="_blank" href="../components/tables.html">Tables</a> <a target="_blank" href="../components/typography.html">Typography</a></div>
                                </div>
                            </div>
                            <div class="st-dropdown-content-group bg-light b-t"><a href="../login.html">Sign in <i class="fas fa-arrow-right"></i></a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="st-dropdown-root">
            <div class="st-dropdown-bg">
                <div class="st-alt-bg"></div>
            </div>
            <div class="st-dropdown-arrow"></div>
            <div class="st-dropdown-container">
                <div class="st-dropdown-section" data-dropdown="blocks">
                    <div class="st-dropdown-content">
                        <div class="st-dropdown-content-group">
                            <div class="row">
                                <div class="col me-4"><a class="dropdown-item" target="_blank" href="../blocks/call-to-action.html">Call to actions</a> <a class="dropdown-item" target="_blank" href="../blocks/contact.html">Contact</a> <a class="dropdown-item" target="_blank" href="../blocks/counter.html">Counters</a> <a class="dropdown-item" target="_blank" href="../blocks/faqs.html">FAQs</a></div>
                                <div class="col me-4"><a class="dropdown-item" target="_blank" href="../blocks/footer.html">Footers</a> <a class="dropdown-item" target="_blank" href="../blocks/form.html">Forms</a> <a class="dropdown-item" target="_blank" href="../blocks/navbar.html">Navbar</a> <a class="dropdown-item" target="_blank" href="../blocks/navigation.html">Navigation</a></div>
                                <div class="col"><a class="dropdown-item" target="_blank" href="../blocks/pricing.html">Pricing</a> <a class="dropdown-item" target="_blank" href="../blocks/slider.html">Sliders</a> <a class="dropdown-item" target="_blank" href="../blocks/team.html">Team</a> <a class="dropdown-item" target="_blank" href="../blocks/testimonial.html">Testimonials</a></div>
                            </div>
                        </div>
                        <div class="st-dropdown-content-group">
                            <h3 class="link-title"><i class="fas fa-long-arrow-alt-right icon"></i> Coming soon</h3>
                            <div class="ms-5"><span class="dropdown-item text-secondary">Dividers </span><span class="dropdown-item text-secondary">Gallery </span><span class="dropdown-item text-secondary">Screenshots</span></div>
                        </div>
                    </div>
                </div>
                <div class="st-dropdown-section" data-dropdown="pages">
                    <div class="st-dropdown-content">
                        <div class="st-dropdown-content-group">
                            <div class="mb-4">
                                <h3 class="text-darker light text-nowrap"><span class="bold regular">Useful pages</span> you'll need</h3>
                                <p class="text-secondary mt-0">Get a complete design stack</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <ul class="me-4">
                                        <li>
                                            <h4 class="text-uppercase regular">Error</h4>
                                        </li>
                                        <li><a target="_blank" href="../403.html">403 Error</a></li>
                                        <li><a target="_blank" href="../404.html">404 Error</a></li>
                                        <li><a target="_blank" href="../500.html">500 Error</a></li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul class="me-4">
                                        <li>
                                            <h4 class="text-uppercase regular">User</h4>
                                        </li>
                                        <li><a target="_blank" href="../login.html">Login</a></li>
                                        <li><a target="_blank" href="../register.html">Register</a></li>
                                        <li><a target="_blank" href="../forgot.html">Forgot</a></li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul>
                                        <li>
                                            <h4 class="text-uppercase regular">Extra</h4>
                                        </li>
                                        <li><a target="_blank" href="../pricing.html">Pricing</a></li>
                                        <li><a target="_blank" href="../terms.html">Terms</a></li>
                                        <li><a target="_blank" href="../faqs.html">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="st-dropdown-content-group"><a class="dropdown-item bold" href="../about.html"><i class="far fa-building icon"></i> About </a><a class="dropdown-item bold" href="../contact.html"><i class="far fa-envelope icon"></i> Contact </a><a class="dropdown-item bold" href="../pricing.html"><i class="fas fa-hand-holding-usd icon"></i> Pricing</a></div>
                    </div>
                </div>
                <div class="st-dropdown-section" data-dropdown="components">
                    <div class="st-dropdown-content">
                        <div class="st-dropdown-content-group"><a class="dropdown-item" target="_blank" href="../components/color.html">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="bg-dark text-contrast icon-md center-flex rounded-circle me-2"><i class="fas fa-palette"></i></div>
                                    <div class="flex-fill">
                                        <h3 class="link-title m-0">Colors</h3>
                                        <p class="m-0 text-secondary">Get to know DashCore color options</p>
                                    </div>
                                </div>
                            </a><a class="dropdown-item" target="_blank" href="../components/form-controls.html">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="bg-secondary text-contrast icon-md center-flex rounded-circle me-2"><i class="fab fa-wpforms"></i></div>
                                    <div class="flex-fill">
                                        <h3 class="link-title m-0">Forms</h3>
                                        <p class="m-0 text-secondary">All forms elements</p>
                                    </div>
                                </div>
                            </a><a class="dropdown-item" target="_blank" href="../components/accordion.html">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="bg-success text-contrast icon-md center-flex rounded-circle me-2"><i class="fas fa-bars"></i></div>
                                    <div class="flex-fill">
                                        <h3 class="link-title m-0">Accordion</h3>
                                        <p class="m-0 text-secondary">Useful accordion elements</p>
                                    </div>
                                </div>
                            </a><a class="dropdown-item" target="_blank" href="../components/cookie-law.html">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="bg-info text-contrast icon-md center-flex rounded-circle me-2"><i class="fas fa-cookie-bite"></i></div>
                                    <div class="flex-fill">
                                        <h3 class="link-title m-0">CookieLaw</h3>
                                        <p class="m-0 text-secondary">Comply with the hideous EU Cookie Law</p>
                                    </div>
                                </div>
                            </a>
                            <h4 class="text-uppercase regular">Huge components list</h4>
                            <div class="row">
                                <div class="col me-4"><a class="dropdown-item" target="_blank" href="../components/alert.html">Alerts</a> <a class="dropdown-item" target="_blank" href="../components/badge.html">Badges</a> <a class="dropdown-item" target="_blank" href="../components/button.html">Buttons</a></div>
                                <div class="col me-4"><a class="dropdown-item" target="_blank" href="../components/overlay.html">Overlay</a> <a class="dropdown-item" target="_blank" href="../components/progress.html">Progress</a> <a class="dropdown-item" target="_blank" href="../components/lightbox.html">Lightbox</a></div>
                                <div class="col me-4"><a class="dropdown-item" target="_blank" href="../components/tab.html">Tabs</a> <a class="dropdown-item" target="_blank" href="../components/tables.html">Tables</a> <a class="dropdown-item" target="_blank" href="../components/typography.html">Typography</a></div>
                            </div>
                        </div>
                        <div class="st-dropdown-content-group"><a class="dropdown-item" target="_blank" href="../components/wizard.html">Wizard </a><span class="dropdown-item d-flex align-items-center text-muted">Timeline <i class="fas fa-ban ms-auto"></i> </span><span class="dropdown-item d-flex align-items-center text-muted">Process <i class="fas fa-ban ms-auto"></i></span></div>
                    </div>
                </div>
                <div class="st-dropdown-section" data-dropdown="blog">
                    <div class="st-dropdown-content">
                        <div class="st-dropdown-content-group">
                            <div class="row">
                                <div class="col me-4">
                                    <h4 class="regular text-uppercase">Full width</h4><a class="dropdown-item" target="_blank" href="../blog/blog-post.html">Single post</a> <a class="dropdown-item" target="_blank" href="../blog/blog-grid.html">Posts Grid</a>
                                </div>
                                <div class="col me-4">
                                    <h4 class="regular text-uppercase">Sidebar left</h4><a class="dropdown-item" target="_blank" href="../blog/blog-post-sidebar-left.html">Single post</a> <a class="dropdown-item" target="_blank" href="../blog/blog-grid-sidebar-left.html">Posts Grid</a>
                                </div>
                                <div class="col me-4">
                                    <h4 class="regular text-uppercase">Sidebar right</h4><a class="dropdown-item" target="_blank" href="../blog/blog-post-sidebar-right.html">Single post</a> <a class="dropdown-item" target="_blank" href="../blog/blog-grid-sidebar-right.html">Posts Grid</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="st-dropdown-section" data-dropdown="shop">
                    <div class="st-dropdown-content">
                        <div class="st-dropdown-content-group"><a class="dropdown-item mb-4" target="_blank" href="../shop/">
                                <div class="d-flex align-items-center">
                                    <div class="bg-success text-contrast icon-md center-flex rounded-circle me-2"><i class="fas fa-shopping-basket"></i></div>
                                    <div class="flex-fill">
                                        <h3 class="link-title m-0">Home</h3>
                                        <p class="m-0 text-secondary">Online store home with an outstanding UX</p>
                                    </div>
                                </div>
                            </a><a class="dropdown-item" target="_blank" href="../shop/cart.html">
                                <div class="d-flex align-items-center">
                                    <div class="bg-info text-contrast icon-md center-flex rounded-circle me-2"><i class="fas fa-shopping-cart"></i></div>
                                    <div class="flex-fill">
                                        <h3 class="link-title m-0">Cart</h3>
                                        <p class="m-0 text-secondary">Online store shopping cart</p>
                                    </div>
                                </div>
                            </a></div>
                        <div class="st-dropdown-content-group">
                            <h3 class="link-title"><i class="fas fa-money-check-alt icon"></i> Checkout</h3>
                            <div class="ms-5"><a class="dropdown-item text-secondary" target="_blank" href="../shop/checkout-customer.html">Customer <i class="fas fa-angle-right ms-2"></i> </a><a class="dropdown-item text-secondary" target="_blank" href="../shop/checkout-shipping.html">Shipping Information <i class="fas fa-angle-right ms-2"></i> </a><a class="dropdown-item text-secondary" target="_blank" href="../shop/checkout-payment.html">Payment Methods <i class="fas fa-angle-right ms-2"></i> </a><a class="dropdown-item text-secondary" target="_blank" href="../shop/checkout-confirmation.html">Order Review <i class="fas fa-angle-right ms-2"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="overflow-hidden">
        <header class="page header text-contrast bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="bold display-md-4 text-contrast mb-4">Tables</h1>
                        <p class="lead text-contrast">Documentation and examples for opt-in styling of tables (given their prevalent use in JavaScript plugins) with Bootstrap.</p>
                    </div>
                </div>
            </div>
        </header>
        <div class="position-relative">
            <div class="shape-divider shape-divider-bottom shape-divider-fluid-x text-light"><svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"></path>
                </svg></div>
        </div>
        <div class="container-fluid py-3 demo-blocks">
            <section class="section block bg-contrast">
                <div class="container py-4">
                    <div class="section-heading text-center">
                        <h2 class="bold">Basic</h2>
                        <p class="lead italic">Using the most basic table markup, here’s how <code>.table</code>-based tables look in Bootstrap.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section block bg-contrast">
                <div class="container py-4">
                    <div class="section-heading text-center">
                        <h2 class="bold">Striped rows</h2>
                        <p class="lead italic">Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>tbody</code>.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section block bg-contrast">
                <div class="container py-4">
                    <div class="section-heading text-center">
                        <h2 class="bold">Bordered table</h2>
                        <p class="lead italic">Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section block bg-contrast">
                <div class="container py-4">
                    <div class="section-heading text-center">
                        <h2 class="bold">Borderless table</h2>
                        <p class="lead italic">Add <code>.table-borderless</code> for a table without borders.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section block bg-contrast">
                <div class="container py-4">
                    <div class="section-heading text-center">
                        <h2 class="bold">Hoverable rows</h2>
                        <p class="lead italic">Add <code>.table-hover</code> to enable a hover state on table rows within a <code>tbody</code>.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section block bg-contrast">
                <div class="container py-4">
                    <div class="section-heading text-center">
                        <h2 class="bold">Responsive tables</h2>
                        <p class="lead italic">Responsive tables allow tables to be ease-readable on mobiles. Make any table responsive across all viewports by wrapping a <code>.table</code> with <code>.table-responsive</code>.</p>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                    <td data-title="Heading">Cell</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <footer class="site-footer section text-center b-t">
            <div class="container py-5">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center mx-auto"><img src="../img/logo.png" alt="" class="logo">
                        <h2 class="extra-bold text-dark mb-4">DashCore</h2>
                        <p class="mt-2 mb-0 text-secondary small">© 2021 <a class="brand bold" target="_blank" href="https://5studios.net">5studios.net</a>. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
    </main><!-- themeforest:js -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/card.js"></script>
    <script src="../js/counterup2.js"></script>
    <script src="../js/noise.js"></script>
    <script src="../js/noframework.waypoints.js"></script>
    <script src="../js/odometer.js"></script>
    <script src="../js/prism.js"></script>
    <script src="../js/simplebar.js"></script>
    <script src="../js/swiper-bundle.js"></script>
    <script src="../js/jquery.easing.js"></script>
    <script src="../js/jquery.validate.js"></script>
    <script src="../js/jquery.smartWizard.js"></script>
    <script src="../js/feather.js"></script>
    <script src="../js/aos.js"></script>
    <script src="../js/typed.js"></script>
    <script src="../js/jquery.magnific-popup.js"></script>
    <script src="../js/cookieconsent.js"></script>
    <script src="../js/jquery.animatebar.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/forms.js"></script>
    <script src="../js/stripe-bubbles.js"></script>
    <script src="../js/stripe-menu.js"></script>
    <script src="../js/credit-card.js"></script>
    <script src="../js/pricing.js"></script>
    <script src="../js/shop.js"></script>
    <script src="../js/svg.js"></script>
    <script src="../js/site.js"></script>
    <script src="../js/wizards.js"></script>
    <script src="../js/cookie-consent-util.js"></script>
    <script src="../js/cookie-consent-themes.js"></script>
    <script src="../js/cookie-consent-custom-css.js"></script>
    <script src="../js/cookie-consent-informational.js"></script>
    <script src="../js/cookie-consent-opt-out.js"></script>
    <script src="../js/cookie-consent-opt-in.js"></script>
    <script src="../js/cookie-consent-location.js"></script>
    <script src="../js/demo.js"></script>
    <!-- endinject -->
</body>

</html>